[Desktop Entry]
Name=D-Feet
Name[bs]=D-Feet
Name[cs]=D-Feet
Name[da]=D-Feet
Name[de]=D-Feet
Name[el]=D-Feet
Name[es]=D-Feet
Name[fi]=D-Feet
Name[fr]=D-Feet
Name[fur]=D-Feet
Name[gl]=D-Feet
Name[hu]=D-Feet
Name[id]=D-Feet
Name[lv]=D-Feet
Name[nb]=D-Feet
Name[oc]=D-Feet
Name[pl]=D-Feet
Name[pt]=D-Feet
Name[pt_BR]=D-Feet
Name[ru]=D-Feet
Name[sl]=D-Feet
Name[sr]=Д-стопа
Name[sr@latin]=D-stopa
Name[sv]=D-Feet
Name[tr]=D-Feet
Name[zh_CN]=D-Feet
GenericName=D-Bus Debugger
GenericName[bs]=D-Bus Debugger
GenericName[cs]=Program pro ladění D-Bus
GenericName[da]=D-Bus-fejlsøger
GenericName[de]=D-Bus-Fehlerdiagnose
GenericName[el]=Αποσφαλματωτής D-Bus
GenericName[es]=Depurador de D-Bus
GenericName[fi]=D-Bus-vianjäljitys
GenericName[fr]=Débogueur D-Bus
GenericName[fur]=Debugger D-Bus
GenericName[gl]=Depurador D-Bus
GenericName[hu]=D-Bus hibakereső
GenericName[id]=Pengawakutu D-Bus
GenericName[lv]=D-Bus atkļūdotājs
GenericName[oc]=Desbugador D-Bus
GenericName[pl]=Debuger D-Bus
GenericName[pt]=Depurador de D-Bus
GenericName[pt_BR]=Depurador de D-Bus
GenericName[ru]=Отладчик D-Bus
GenericName[sl]=Razhroščevalnik vodila D-Bus
GenericName[sr]=Прочишћавач Д-сабирнице
GenericName[sr@latin]=Pročišćavač D-sabirnice
GenericName[sv]=D-Bus-felsökare
GenericName[tr]=D-Bus Hata Ayıklayıcı
GenericName[zh_CN]=D-Bus 调试器
Comment=Debug D-Bus applications
Comment[bs]=Traženje grešaka za programe D-Bus
Comment[cs]=Ladit aplikace používající sběrnici D-Bus
Comment[da]=Fejlsøg D-Bus-programmer
Comment[de]=Fehlerdiagnose für D-Bus-Anwendungen
Comment[el]=Αποσφαλμάτωση εφαρμογών D-Bus
Comment[es]=Depurar aplicaciones de D-Bus
Comment[fi]=Jäljitä vikoja D-Bus-sovelluksista
Comment[fr]=Débogue les applications D-Bus
Comment[fur]=Fâs il debug des aplicazions D-Bus
Comment[gl]=Aplicativos de depuración de D-Bus
Comment[hu]=D-Bus alkalmazások hibakeresése
Comment[id]=Mengawakutu aplikasi-aplikasi D-Bus
Comment[lv]=Atkļūdo D-Bus lietotnes
Comment[nb]=Feilsøk D-Bus-programmer
Comment[oc]=Desbuga las aplicacions D-Bus
Comment[pl]=Debugowanie programów D-Bus
Comment[pt]=Depure aplicações D-Bus
Comment[pt_BR]=Depure aplicativos D-Bus
Comment[ru]=Отладка приложений D-Bus
Comment[sl]=Razhroščevanje programov vodila D-Bus
Comment[sr]=Прочистите програме Д-сабирнице
Comment[sr@latin]=Pročistite programe D-sabirnice
Comment[sv]=Felsök D-Bus-program
Comment[tr]=D-Bus uygulamalarında hata ayıklama yapın
Comment[zh_CN]=调试 D-Bus 应用程序
Keywords=debug;d-bus;dbus;dfeet;
Keywords[bs]=debug;d-bus;dbus;dfeet;pomak;
Keywords[cs]=ladit;ladění;d-bus;dbus;dfeet;
Keywords[da]=fejlsøg;d-bus;dbus;dfeet;
Keywords[de]=debug;d-bus;dbus;dfeet;
Keywords[el]=αποσφαλμάτωση;δίαυλος δεδομένων;debug;d-bus;dbus;dfeet;
Keywords[es]=depurar;depurador;d-bus;dfeet;
Keywords[fi]=debug;d-bus;dbus;dfeet;vianetsintä;vianjäljitys;
Keywords[fur]=debug;d-bus;dbus;dfeet;
Keywords[hu]=hibakeresés;d-bus;dbus;dfeet;
Keywords[id]=debug;d-bus;dbus;dfeet;awakutu;
Keywords[nb]=feilsøk;d-bus;dbus;dfeet;
Keywords[oc]=desbugatge;d-bus;
Keywords[pl]=debugger;debugowanie;debuggowanie;debuguj;debugguj;d-bus;dbus;dfeet;
Keywords[pt]=depuração;d-bus;barramento;dfeet;
Keywords[pt_BR]=depuração;debug;d-bus;dfeet;
Keywords[sl]=razhroščevanje;debug;d-bus;dbus;dfeet;
Keywords[sr]=прочисти;д-сабирница;дстопа;
Keywords[sr@latin]=pročisti;d-sabirnica;dstopa;
Keywords[sv]=debug;felsökning;avlusning;d-bus;dbus;dfeet;
Keywords[tr]=hata ayıklama;d-bus;dbus;dfeet;
Exec=d-feet
Icon=d-feet
Terminal=false
Type=Application
Categories=GNOME;GTK;Development;Debugger;
StartupNotify=true
