[Desktop Entry]
Comment=Feedback tools for Deepin users.
Exec=deepin-feedback
GenericName=User Feedback
Icon=deepin-feedback
Name=Deepin User Feedback
Path=/tmp
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[am_ET]=የ ዲፕኢን ተጠቃሚ መልስ መላኪያ መሳሪያዎች
Comment[ar]=أداة لانطباعات مستخدمي توزيعة ديبين
Comment[ast]=Ferramientes de feedback pa usuarios Deepin.
Comment[az]=Deepin istifadəçiləri üçün Əlaqə vasitələri.
Comment[bg]=Инструмент за обратна връзка на потребителите. 
Comment[bn]=ডিপিন ব্যাবহারকারীদের জন্য ফিডব্যাক টুল
Comment[ca]=Eines d'informació de retorn per als usuaris del Deepin.
Comment[cs]=Nástroje zpětné vazby pro uživatele Deepinu.
Comment[da]=Feedback-værktøj til Deepin-brugere.
Comment[de]=Feedback-Werkzeuge für Deepin-Benutzer.
Comment[es]=Herramientas de comentarios para los usuarios de Deepin.
Comment[es_419]=Herramientas de comentarios para los usuarios de Deepin.
Comment[fr]=Outil de retour d'information pour utilisateurs de Deepin.
Comment[hu]=Deepin felhasználói visszajelzést kezelő alkalmazás
Comment[id]=Alat umpan balik untuk pengguna Deepin.
Comment[it]=Strumento per le segnalazioni degli utenti di Deepin.
Comment[lt]=Atsiliepimų įrankiai, skirti Deepin naudotojams.
Comment[ms]=Alatan maklum balas untuk pengguna Deepin.
Comment[ne]=डिपिन प्रयोगकर्ताहरूका लागि प्रतिक्रिया उपकरणहरू।
Comment[nl]=Feedbackhulpmiddelen voor Deepin-gebruikers
Comment[pl]=Narzędzie do przesyłania informacji zwrotnych użytkowników systemu Deepin.
Comment[pt]=Ferramentas de 'Opinião' para os utilizadores Deepin.
Comment[pt_BR]=Ferramentas de feedback para usuários Deepin.
Comment[ro]=Unelte ce facilitează trimiterea sugestiilor de îmbunătățire.
Comment[ru]=Инструменты обратной связи для пользователей Deepin.
Comment[sk]=Nástroje spätnej väzby pre používateľov Deepin.
Comment[sl]=Povratnoinformacijska orodja za Deepinove uporabnike.
Comment[sr]=Алат за повратне информације корисника Дипина.
Comment[tr]=Deepin kullanıcıları için geri bildirim araçları.
Comment[tr_TR]=Deepin kullanıcıları için geri bildirim araçları.
Comment[ug]=ئەزالار مەسىلە ئىنكاس قىلىش قۇرالى
Comment[uk]=Інструменти відгуків для користувачів Deepin.
Comment[zh_CN]=深度操作系统的用户反馈工具
Comment[zh_TW]=deepin 的意見回應工具
GenericName[bg]=Потребителски отзив
GenericName[ca]=Informació de retorn dels usuaris
GenericName[cs]=Uživatelská zpětná vazba
GenericName[da]=Brugerfeedback
GenericName[de]=Benutzerfeedback
GenericName[es]=Comentarios de usuarios
GenericName[fr]=Expérience utilisateur Deepin
GenericName[id]=Umpan balik pengguna
GenericName[it]=User Feedback
GenericName[lt]=Naudotojų atsiliepimai
GenericName[ms]=Maklum Balas Pengguna
GenericName[ne]=प्रयोगकर्ता प्रतिक्रिया
GenericName[nl]=Gebruikersfeedback
GenericName[pl]=Informacja zwrotna użytkownika
GenericName[pt]=Feedback do Utilizador
GenericName[pt_BR]=Feedback de Usuário
GenericName[ru]=Отзыв Пользователя
GenericName[sr]=Повратне Информације
GenericName[tr]=Kullanıcı Geri Bildirimi
GenericName[uk]=Відгук користувача
GenericName[zh_CN]=用户反馈
GenericName[zh_TW]=使用者意見回應
Name[am_ET]=የ ዲፕኢን ተጠቃሚ መልስ መላኪያ
Name[ar]=انطباعات مستخدم ديبين
Name[ast]=Feedback d'usuariu Deepin
Name[az]=Deepin İstifadəçi Əlaqəsi
Name[bg]=Deepin потребителски отзив
Name[bn]=ডিপিন ইউজার ফিডব্যাক
Name[ca]=Informació de retorn dels usuaris del Deepin
Name[cs]=Uživatelská zpětná vazba
Name[da]=Deepin brugerfeedback
Name[de]=Deepin User Feedback
Name[es]=Comentarios de usuarios de Deepin
Name[es_419]=Comentarios de usuarios de Deepin
Name[fr]=Expérience utilisateur Deepin
Name[hu]=Deepin felhasználói visszajelzés
Name[id]=Umpan balik Pengguna Deepin
Name[it]=Deepin User Feedback
Name[lt]=Deepin naudotojų atsiliepimai
Name[ms]=Maklum Balas Pengguna Deepin
Name[ne]=डिपिन प्रयोगकर्ता प्रतिक्रिया
Name[nl]=Deepin Gebruikersfeedback
Name[pl]=Informacja zwrotna użytkownika Deepin
Name[pt]=Opinião do Utilizador Deepin
Name[pt_BR]=Feedback de Usuário Deepin
Name[ro]=Sugestii de îmbunătățire Deepin
Name[ru]=Служба Обратной Связи Deepin
Name[sk]=Deepin Spätná väzba
Name[sl]=Povratne Informacije Uporabnikov Deepin
Name[sr]=Дипин Повратне Информације
Name[tr]=Deepin Kullanıcı Geri Bildirimi
Name[tr_TR]=Deepin Kullanıcı Geri Bildirimi
Name[ug]=مەسىلە ئىنكاس قىلىش
Name[uk]=Відгук користувача Deepin
Name[zh_CN]=深度用户反馈
Name[zh_TW]=Deepin 意見回應

