[Desktop Entry]
MimeType=application/x-fskin;
Name=Fcitx Skin Installer
Name[ca]=Instal·lador d'aparences de fcitx
Name[da]=Fcitx-skin-installationsprogram
Name[de]=Fcitx Skin Installer
Name[ja]=Fcitxスキンインストーラー
Name[ko]=Fcitx 스킨 설치도구
Name[ru]=Мастер установки скинов Fcitx
Name[zh_CN]=Fcitx 皮肤安装器
Name[zh_TW]=Fcitx 佈景安裝程式
Comment=Installer Script for Fcitx Skin
Comment[ca]=Script de l'instal·lador per a les aparences de fcitx
Comment[da]=Installer script til Fcitx-skin
Comment[de]=Installationsscript für Fcitx-Skins
Comment[ja]=Fcitxスキンのインストールスクリプト
Comment[ko]=Fcitx 스킨을 위한 설치 스크립트
Comment[ru]=Скрипт для установки скинов Fcitx
Comment[zh_CN]=Fcitx 皮肤的安装器
Comment[zh_TW]=Fcitx 佈景主題安裝器文本
Exec=fcitx-skin-installer %U
Icon=fcitx
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=false
X-KDE-StartupNotify=false
NoDisplay=true
